{% set borderCam = borderCam|default(true) %}

<div class="cam {% if borderCam %}border{% endif %}">
	<div class="container">
		<div class="content">
			<div><img src="{{ root('/assets/ligue-180.png') }}" alt=""></div>
			<p>A Central de Atendimento à Mulher é um serviço criado para o combate à violência contra a mulher e oferece três tipos de atendimento: registros de denúncias, orientações para vítimas de violência e informações sobre leis e campanhas. <br /><br /> <b>Não se cale, denuncie.</b></p>
		</div>
	</div>
</div>
