<footer>
	<div class="container">

		<div class="social-share">
			<p>Acompanhe o IMP nas redes sociais: </p>
			<ul>
				<li><a href="https://www.facebook.com/InstitutoMariadaPenha/" target="_blank"><img class="fb-icon" src="{{ root('/assets/imp-sprite.svg#facebook') }}" alt="fb"></a></li>
				<li><a href="https://www.instagram.com/institutomariadapenha/" target="_blank"><img class="it-icon" src="{{ root('/assets/imp-sprite.svg#instagram') }}" alt=""></a></li>
				<li><a href="https://www.youtube.com/user/instmariadapenha" target="_blank"><img class="yt-icon" src="{{ root('/assets/imp-sprite.svg#youtube') }}" alt=""></a></li>
			</ul>
		</div>

		<div class="content">
			<ul class="links-list">
				<li>A Lei</li>
				<li><a href="{{ root('/lei-11340/tipos-de-violencia.html') }}" title="">Tipos de violência</a></li>
				<li><a href="{{ root('/lei-11340/lei-maria-da-penha-na-integra-e-comentada.html') }}" title="">A lei na íntegra e comentada</a></li>
				<li><a href="{{ root('/lei-11340/resumo-da-lei-maria-da-penha.html') }}" title="">Resumo da lei</a></li>
			</ul>
			<ul class="links-list">
				<li>Maria da Penha</li>
				<li><a href="{{ root('/quem-e-maria-da-penha.html') }}" title="">Quem é Maria da Penha</a></li>
				<li><a href="{{ root('/entrevista-com-maria-da-penha.html') }}" title="">Entrevista com Maria da Penha</a></li>
			</ul>
			<ul class="links-list">
				<li>Violência doméstica</li>
				<li><a href="{{ root('/violencia-domestica/o-que-e-violencia-domestica.html') }}" title="">O que é violência doméstica</a></li>
				<li><a href="{{ root('/violencia-domestica/ciclo-da-violencia.html') }}" title="">Ciclo da violência</a></li>
			</ul>
			<ul class="links-list">
				<li>O Instituto</li>
				<li><a href="{{ root('/quem-somos.html') }}" title="">Quem somos</a></li>
			</ul>
			<ul class="links-list single">
				<li><a href="{{ root('/projetos.html') }}">Projetos IMP</a></li>
				<li><a href="{{ root('/projetos/curso-defensoras-e-defensores-dos-diretos-a-cidadania-DDDC.html') }}">Curso DDDC</a></li>
				<li><a href="{{ root('/projetos/projeto-contexto-educacao-genero-emancipacao.html') }}">Projeto Contexto</a></li>
				<li><a href="{{ root('/projetos/projeto-cordel-nas-escolas.html') }}">Projeto Cordel nas Escolas</a></li>
			</ul>
			<ul class="links-list single">
				<li><a href="{{ root('/servicos.html') }}">Serviços IMP</a></li>
				<li><a href="{{ root('/servicos/workshop-violencia-domestica-e-seu-impacto-no-mercado-de-trabalho.html') }}">Violência doméstica e seu impacto no mercado de trabalho</a></li>
				<li><a href="{{ root('/servicos/consultoria-implementacao-do-comite-da-mulher-na-empresa.html') }}">Implementação do Comitê da Mulher na empresa</a></li>
				<li><a href="{{ root('/servicos/palestra-do-instituto-maria-da-penha.html') }}">Palestra do IMP</a></li>
				<li><a href="{{ root('/servicos/palestra-da-maria-da-penha.html') }}">Palestra da Maria da Penha</a></li>
				<li><a href="{{ root('/servicos/cursos-de-capacitacao-defensoras-e-defensores-dos-direitos-a-cidadania-DDDC.html') }}">Cursos de capacitação DDDC</a></li>
			</ul>
			<ul class="links-list single">
				<li><a href="{{ root('/contato.html') }}">Contato</a></li>
			</ul>
		</div>

		<img class="logo-imp" src="{{ root('/assets/logo-imp-white.png')  }}" alt="Instituto Maria da Penha">
		<h6>&copy; 2018 Todos os direitos reservados</h6>
	</div>
</footer>
