<header>
	<div class="container">
		<a class="logo-imp" href="/" title=""><img src="{{ root('/assets/logo.svg')  }}" alt="IMP"></a>
		<img class="toggle-menu" src="{{ root('/assets/menu.svg') }}">
		<div class="main-menu">
			<nav>
				<a href="{{ root('/lei-11340/resumo-da-lei-maria-da-penha.html') }}" title="">A lei</a>
				<a href="{{ root('/quem-e-maria-da-penha.html') }}" title="">Maria da Penha</a>
				<a href="{{ root('/violencia-domestica/o-que-e-violencia-domestica.html') }}" title="">Violência doméstica</a>
				<a href="{{ root('/quem-somos.html') }}" title="Conheça o Instituto">O instituto</a>
				<a href="{{ root('/projetos.html') }}" title="">Projetos IMP</a>
				<a href="{{ root('/servicos.html') }}" title="">Serviços IMP</a>
				<a href="{{ root('/contato.html') }}" title="">Contato</a>
			</nav>
			<a class="btn-doe" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9DBY93J39JAS6&source=url" target="_blank" title="Faça uma doação para o instituto">Doe</a>
		</div>
	</div>
</header>
