font-family(family, weight = regular)
	if family == lato
		font-family 'Lato', Arial, sans-serif
		font-style normal

		if weight == black
			font-weight 900

		else
			font-weight 400

	if family == roboto
		font-family 'Roboto', Tahoma, sans-serif;
		font-style normal

		if weight == bold
			font-weight 700

		else if weight == medium
			font-weight 500

		else
			font-weight 400
